<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Carrinho de Compras</title>
  <link rel="stylesheet" href="../css/Carrinho.css">
</head>
<body>
    <body>
        <header class="header">
            <img src="../assets/img/DrinkUp_Logo_Preta_PNG.png" alt="DrinkUp Logo" />
            <button class="button-usuario" onclick="location.href='PerfilAdmin.html'">
              <span class="material-symbols-outlined">person</span>
            </button>
          </header>
        <div class="container">
          <h1>Carrinho de Compras</h1>
          <table id="cart">
            <thead>
              <tr>
                <th>Imagem</th>
                <th>Produto</th>
                <th>Preço Unitário</th>
                <th>Quantidade</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><img src="" alt="Produto" class="product-image"></td>
                <td>Produto 1</td>
                <td>R$ 50,00</td>
                <td>
                  <div class="quantity-buttons">
                    <button class="decrease-button">-</button>
                    <span class="quantity">1</span>
                    <button class="increase-button">+</button>
                  </div>
                </td>
                <td>
                  <button class="remove-button">Remover</button>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="3">Total:</td>
                <td id="cart-total">R$ 50,00</td>
                <td></td>
              </tr>
            </tfoot>
          </table>
        </div>
      
        <script src="script.js"></script>
</body>
</html>