<!--Não é esperado que esta página exiba qualquer item antes que seja selecionada a categoria a ser filtrada. Caso necessário, isso poderá ser revisto no futuro-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@500;1000&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/Estoque.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
</head>
<body>
    <div class="navbar">
        <a class="navbar-brand" href="#"><img src="../assets/img/DrinkUp_Logo_Preta_PNG.png"></a>
        <div class="campo-busca">
            <select id="categoriaSelect">
                <option value="">Selecione uma categoria</option>
            </select>
            <button class="button-busca">Buscar</button>
        </div>        
        <button class="button-NovoProduto" onclick="window.location.href='CadastroBebidas.html';">Novo produto
            <button class="button-usuario">
                <span class="material-symbols-outlined">person</span>
            </button>
        </button>
    </div>
    <header class="titulo">
        <h1>Gestão de Estoque</h1>
    </header>
    <table class="tabela">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Categoria</th>
                <th>Quantidade</th>
                <th>Adicionar</th>
                <th>Remover</th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>
    <script src="../js/Estoque.js"></script>
</body>
</html>
