<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@500;1000&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/Home.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
</head>
<body>
    <div class="navbar">
        <a class="navbar-brand" href="Home.html"><img src="../assets/img/DrinkUp_Logo_Preta_PNG.png"></a>
        <div class="campo-busca">
            <select id="categorySelect">
                <option value="">Todas as categorias</option>
                
            </select>
            <button class="button-busca">Buscar</button>
        </div>
        <button class="button-usuario" onclick="location.href='Perfil.html'">
            <span class="material-symbols-outlined">person</span>
        </button>
        <button id="btnLogin">Login</button>
    </div>

    <div class="container">
        <div id="product-list" class="product-list">
            
        </div>
    </div>




    <section id="about-us">
        <div class="container">
            <div class="logo">
                <img src="../assets/img/DrinkUp_Logo_Preta_PNG.png" alt="DrinkUp Logo">
            </div>
            <div class="description">
                <h2>Sobre a DrinkUp</h2>
                <p>A solução proposta para a Drink Up consiste na implementação de um sistema de gestão integrado, combinando um software de controle de estoque com uma plataforma de comércio eletrônico. Este sistema permitirá a criação de uma loja virtual personalizada, onde os clientes poderão visualizar os produtos, fazer pedidos e serem direcionados ao pagamento de forma assistida e intuitiva. A integração entre essas ferramentas garantirá a sincronização automática dos dados de estoque e vendas, proporcionando um controle preciso em tempo real e facilitando a gestão de inventário e a tomada de decisões estratégicas. Com essa solução, a Drink Up poderá melhorar significativamente a eficiência operacional, expandir sua presença online e oferecer uma experiência de compra mais conveniente para seus clientes.</p>
            </div>
        </div>
    </section>



    

    <footer class="custom-footer">
        <p>© 2024 DrinkUp - Todos os direitos reservados</p>
    </footer>

    <script src="../js/Home.js"></script>
</body>
</html>
