<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Cadastro de Bebida</title>
   <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@500;1000&ital,wght@1,1000&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="../css/Perfil.css">
</head>

<body>

   <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #E2B420;">
      <div class="container">
         <a class="navbar-brand" href="#"><img width="100px" src="../assets/img/DrinkUp_Logo_Preta_PNG.png"></a>
      </div>
   </nav>

   <header class="container mt-5 mb-3">
      <div class="row">
         <div class="col">
            <h2 class="text-center">Perfil</h2>
         </div>
      </div>
   </header>


   <main>
      <button onclick="location.href='RelatorioDeCompras.html'">MEUS PEDIDOS</button>
      <div class="container">
         <div class="row">
            <div class="col-md-9">
               <div class="form-container dados">
                  <div class="row">
                     <div class="col-md-6">
                        <div class="mb-3">
                           <label for="nome" class="form-label">Nome</label>
                           <input type="hidden" id="cliente-id" />
                           <input type="text" class="form-control" id="nome">
                        </div>
                        <div class="mb-3">
                           <label for="cpf" class="form-label">CPF</label>
                           <input type="text" class="form-control" id="cpf">
                        </div>
                        <div class="mb-3">
                           <label for="bairro" class="form-label">Bairro</label>
                           <input type="text" class="form-control" id="bairro">
                        </div>
                        <div class="mb-3">
                           <label for="cep" class="form-label">CEP</label>
                           <input type="number" class="form-control" id="cep">
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="mb-3">
                           <label for="datanasc" class="form-label">Data de Nascimento</label>
                           <input type="date" class="form-control" id="datanasc">
                        </div>
                        <div class="mb-3">
                           <label for="email" class="form-label">E-mail</label>
                           <input type="email" class="form-control" id="email">
                        </div>
                        <div class="mb-3">
                           <label for="rua" class="form-label">Rua</label>
                           <input type="text" class="form-control" id="rua">
                        </div>
                        <div class="mb-3">
                           <label for="complemento" class="form-label">Complemento</label>
                           <input type="text" class="form-control" id="complemento">
                        </div>
                        <div class="mb-3">
                           <label for="telefone" class="form-label">Telefone</label>
                           <input type="tel" class="form-control" id="telefone">
                        </div>
                     </div>
                     <div class="button">
                        <button type="submit" class="btn btn-primary" id="btnsalvar">Salvar</button>
                    </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      </div>
      </form>
      </div>
   </main>
   <script src="../js/PerfilCliente.js"></script>
</body>


</html>
