
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    font-family: 'Nunito Sans', sans-serif;
}

.navbar {
    background-color: #F2C029; 
}

.container {
    display: flex;
    margin-top: -2.5rem;
    width: 70%;
    height: 70vh;
    padding: 7rem;
}

.form{
    width: 50%; 
    height: 60vh; 
    background-color: #F2C029; 
    margin: 0 10px; 
    box-shadow: 5px 5px 10px rgba(0,0,0, 0.212);
    border-radius: 15px;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}
.title{
    font-size: 3rem;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 1000; 
    font-style: italic; 
}
h6{
    font-size: 1.5rem;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 500; 
}
.input-group{
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 0;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.input-box{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
    width: 80%;
}

.input-box input{
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border:none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    width: 100%
    font-family: 'Nunito Sans', sans-serif; 
}

.entrar-button {
    width: 100%;
    display: flex;
    justify-content: center;
}

.entrar-button button {
    width: 80%;
    border: none;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
    background-color: #BF9411;
    font-family: 'Nunito Sans', sans-serif;
}
.register{
    width: 50%; 
    height: 60vh; 
    background-color: #F2C029; 
    margin: 0 10px; 
    box-shadow: 5px 5px 10px rgba(0,0,0, .212);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.text-elements {
    text-align: center
    font-family: 'Nunito Sans', sans-serif;
}

.register-button {
    margin-top: 1rem;
}
.register-button button{
    border: none;
    width: 300px;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
    background-color: #BF9411;
    font-family: 'Nunito Sans', sans-serif;
}
.register-button a{
    font-size: 1.5rem;
    font-family: 'Nunito Sans', sans-serif; 
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color:#F2C029;
}
