@font-face {
    font-family: 'Bauhaus 93';
    src: url('file:///C:/Users/rabel/Downloads/bauhs93/bauhaus93.ttf') format('truetype');
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Nunito Sans', sans-serif;
}

.navbar, .container, .form, .register, footer {
    font-family: 'Nunito Sans', sans-serif;
}


.title, .header h1  {
    font-size: 3rem;
    font-weight: 1000; 
    font-style: italic; 
}

h6, .input-box input, .register-button a {
    font-size: 1.5rem;
    font-weight: 500; 
}

.register-button button, .entrar-button button {
    font-family: 'Nunito Sans', sans-serif; 
    font-weight: 500; 
}


