.navbar {
    background-color: #FDB815;
    padding: 24px 20px;
    display: flex; /* Ativa flexbox no header */
    justify-content: space-between; /* Separa os itens para cada extremidade */
    align-items: center; /* Centraliza verticalmente */
    height: 95px; /* ajusta o tamanho do navabar com o das outras paginas*/
  }
  
.navbar img {
    height: 100px;
    justify-content: left;
    display: flex;
    width: auto;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    font-family: 'Nunito Sans', sans-serif;
}

.container {
    display: flex;
    margin-top: -2.5rem;
    width: 100%;
    height: 70vh;
    padding: 7rem;
    justify-content: space-between;
}

.form{
    width: 50%; 
    height: 60vh; 
    background-color: #FDB815; 
    margin: 0 10px; 
    box-shadow: 5px 5px 10px rgba(0,0,0, 0.212);
    border-radius: 15px;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}
.title{
    font-size: 3rem;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 1000; 
    font-style: italic; 
}
h6{
    font-size: 1.5rem;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 500; 
}
.input-group{
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 0;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.input-box{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
    width: 80%;
}

.input-box input{
    margin: none;
    padding: 6px;
    border:none;
    border-radius: 4px;
    box-shadow: 1px 1px 6px #0000001c;
    width: 100%;
    font-family: 'Nunito Sans', sans-serif; 
}

.entrar-button {
    width: 100%;
    display: flex;
    justify-content: center;
}

.entrar-button button {
    width: 500px;
    border: none;
    padding: 0.62rem;
    border-radius: 4px;
    cursor: pointer;
    background-color: #DAA520;
    font-family: 'Nunito Sans', sans-serif;
    font-style:italic;
    font-size: 18px;
    font-weight:900;
    height: 50px;
}
.register{
    width: 50%; 
    height: 60vh; 
    background-color: #FDB815; 
    margin: 0 10px; 
    box-shadow: 5px 5px 10px rgba(0,0,0, .212);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.text-elements {
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
}

.register-button {
    margin-top: 10px;
}
.register-button button{
    border: none;
    width: 500px;
    padding: 0.62rem;
    border-radius: 4px;
    cursor: pointer;
    background-color: #DAA520;
    font-family: 'Nunito Sans', sans-serif;
    font-style:italic;
    font-size: 18px;
    font-weight:900;
    height: 50px;
}
.register-button a{
    font-size: 1.5rem;
    font-family: 'Nunito Sans', sans-serif; 
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color:#F2C029;
}

.esquecisenha{
    display: flex;
    justify-content: end;
}